# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv/
.venv*/
ENV/
venv/

# IDE
.idea/

# OS
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/

# Mypy/Pylint
.mypy_cache/
.pylint.d/

# Logs
logs/
*.log

# Reports
reports/

# Docker
**/docker-data/

# Misc
*.swp
*.swo
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
